.grid-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../imgenes/1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 90vh;
}

@media (min-with: 768px) {
  form {
    height: auto;
    width: 500px;
  }
}

@media (min-width: 992px) {
  form {
    height: auto;
    width: 500px;
  }
}

.formulario{
  position: absolute;
  background-color: #f4f6fb;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.2);
  border-radius: 15px;
  z-index: 2;
  text-align: center;
}

form > div{
    margin: 30px;
}

form .fa-user-lock{
    padding: 25px;
    border-radius: 40%;
    background-color: #1976d2;
    color: azure;
    font-size: 35px;
}

form h2{
    font-size: 2rem;
    font-weight: bold;
    color: #263a5e;
}

.input-container{
    position: relative;
    color: #263a5e;
}

.input-container > i{
    padding: 20px;
    border-radius: 50%;
    color: #263a5e;
    position: absolute;
    font-size: 25px;
    top: 18px;
    right: 1px;
}

.input-container > input{
    padding: 10px 15px 10px 15px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 35px;
    background-color: #dddfe4;
    border: 2px solid #c0c2c5;
    font-size: 16px;
    outline: none;
    color: #1976d2;
}

.input-container > label{
    text-align: start;
    color: #263a5e;
    margin-top: 3px;
    font-weight: bold;
}

input:focus{
    background: #f4f6fb;
    color: #092958;
    border: 2px solid #1976d2;
}

::placeholder{
    color: #263a5e;
    font-size: 16px;
}

form .btn-i{
    text-align: center;
    margin-top: 40px;
    background-color: #1976d2;
    padding: 14px 100px;
    border: 0;
    box-shadow: 0 5px 5px rgba(82, 85, 255, 0.1);
    border-radius: 25px;
    color:white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.4s;  
}

form .btn-i:hover{
    background: #63a4ff;
    color: #fff;
    transform: scale(1.03);
    border: 0;
}

.btn-r{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 15px;
    background-color: transparent;
    padding: 14px 80px;
    border: 2px solid #1976d2;
    box-shadow: 0 5px 5px rgba(82, 85, 255, 0.1);
    border-radius: 25px;
    color:#263a5e;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}








