.page {
    min-height: 100vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title-box {
    max-width: 600px;
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.subtitle {
    color: #9aa5b1;
    margin-top: 10px;
    font-size: 0.95rem;
    line-height: 1.5rem;
}


.form-box {
    background: #111b27;
    padding: 35px;
    width: 420px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
}

.label {
    display: block;
    color: #d1d5db;
    font-size: 0.92rem;
    margin-bottom: 5px;
    margin-top: 18px;
}

.input-box {
    position: relative;
}

.icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}

.input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    background: #0d141c;
    border: 1px solid #1c2a39;
    border-radius: 8px;
    color: #fff;
    font-size: 0.95rem;
}

.input:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.35);
}


.btn-blue {
    width: 100%;
    background: #3b82f6;
    color: white;
    height: 45px;
    border-radius: 8px;
    border: none;
    margin-top: 28px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-blue:hover {
    background: #2563eb;
}

.btn-gray {
    width: 100%;
    background: #293544;
    color: #cdd5df;
    height: 45px;
    border-radius: 8px;
    border: none;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-gray:hover {
    background: #374556;
}